* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%; /* Evita zoom automático em dispositivos móveis */
}

body {
    background-color: #F0F0F0;
}